.home-menu-button {
    position: absolute;
    top: 23px;
    left: 11px;
}

.instructors-menu-button {
    position: absolute;
    top: 23px;
    left: 104px;
}

.classes-menu-button {
    position: absolute;
    top: 23px;
    left: 240px;
}

.schedule-menu-button {
    position: absolute;
    top: 23px;
    left: 350px;
}

.faq-menu-button {
    position: absolute;
    left: 453px;
    top: 23px;
}

.contact-menu-button {
    position: absolute;
    top: 23px;
    left: 532px;
}

.directions-menu-button {
    position: absolute;
    top: 23px;
    left: 653px;
}

.registration-menu-button {
    position: absolute;
    top: 23px;
    left: 763px;
}
