.homePageBody {
    background: url('../img/structure/bg/CMAIHomeBG.jpg') no-repeat scroll;
    background-position: top center;
    text-align: center;
}

.otherPageBody {
    background: url('../img/structure/bg/CMAIOtherPagesBG.jpg') no-repeat scroll;
    background-position: top center;
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
}

.home-text-pane {
    position: relative;
    margin: 0 auto;
    width:800px;
    text-algin:left;
}

.otherPageText {
    position: absolute;
    top: 950px;
    width: 800px;
}

.slideshow {
    position: absolute;
    top: 1865px;
    left: 1147px;
    border: 7px solid #2A1E08;
    border-radius: 5px;
}

.aPlaisanceLogo {
    position: relative;
    top: 294px;
}

.blank {
    position: absolute;
    top: 2400px;
    left: 350px;
}

.menu {
    position:relative;
    margin: 868px auto 0;
    width: 870px;
    height: 100px;
    text-align: left;
}