.homePageBody {
    background: url('../img/structure/bg/CMAIHomeBG.jpg') no-repeat scroll;
    background-position: top center;
    text-align: center;
}

.other-page-body {
    background: url('../img/structure/bg/CMAIOtherPagesBG.jpg') no-repeat scroll;
    background-position: top center;
    font-family: arial,helvetica,sans-serif;
    font-size: 12pt;
    text-align: center;
}

.home-text-pane {
    position: relative;
    margin: 0 auto;
    width:800px;
    text-algin:left;
}

.instructor-text-pane {
    position: relative;
    margin: 0 auto;
    width:800px;
    height:2341px;
    border: 1px solid aqua;
    text-algin:left;
}

.classes-text-pane {
    position: relative;
    margin: 0 auto;
    width:800px;
    height:2341px;
    border: 1px solid aqua;
    text-algin:left;
}

.contact-text-pane {
    position: relative;
    margin: 0 auto 1113px;
    width:800px;
    text-algin:left;
}

.directions-text-pane {
    position: relative;
    margin: 0 auto 307px;
    width:800px;
    text-algin:left;
}

.slideshow {
    position: relative;
    top: 213px;
    left: 603px;
    border: 7px solid #2A1E08;
    border-radius: 5px;
}

.aPlaisanceLogo {
    position: relative;
    top: 294px;
}

.aPlaisance-logo-faq {
    position: relative;
    top: 379px;
}

.aPlaisance-logo-contact {
    position: relative;
    top:967px;
}

.aPlaisance-logo-directions {
    position: relative;
    top:166px;
}

.aPlaisance-logo-classes{
    position: relative;
    top:166px;
}

.blank {
    position: absolute;
    top: 2400px;
    left: 350px;
}

.menu {
    position:relative;
    margin: 868px auto 0;
    width: 870px;
    height: 100px;
    text-align: left;
}

.contact-form {
    position: relative;
    margin: 0 auto;
}

