.CMAI-Headline-Text {
    font-size: 18pt;
    font-family: arial, helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}

.CMAI-Date-Text {
    font-size: 14pt;
    font-family: arial, helvetica, sans-serif;
    text-align: center;
    font-style: normal;
}

.section-heading {
    font-size: 14pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: underline;
    text-align: center;
}

.body-text {
    font-size: 12pt;
    font-family: arial, helvetica, sans-serif;
    text-align: left;
}

.home-page-tag {
    font-size: 12pt;
    font-family: arial, helvetica, sans-serif;
    text-decoration: underline;
    text-align: center;
}

.instructor-name {
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
}

.class-listing {

}

.faq-heading {
    font-weight: bold;
    font-style: normal;
    font-size: 14pt;
    font-family: arial, helvetica, sans-serif;
}

.faq {
    font-weight:bold;
    font-size: 12pt;
    font-family: arial, helvetica, sans-serif;
    text-align: left;
}

.special-emphasis {
    font-weight:bold;
    font-size: 12pt;
    font-style: italic;
    font-family: arial, helvetica, sans-serif;
}

.class-heading {
    font-weight: bold;
    font-style: normal;
    font-size: 12pt;
    font-family: arial, helvetica, sans-serif;
}

P{
    text-align: left;
}